<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true">
	
		<!-- NO RESTRICITIONS -->
		<intercept-url pattern="/auth*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/help" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/publish*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<!-- RESTRICTIONS! -->
		<intercept-url pattern="/dashboard/*" access="ROLE_USER" />

		<!-- login -->
		<!-- original 
			<form-login login-page='/index.html' default-target-url='/profile.lb'
    	        always-use-default-target='false' />
		-->

		<form-login login-page="/authentication/login"
			authentication-failure-url="/authentication/login?login_error=1"
			default-target-url="/dashboard/profile" />

		<session-management invalid-session-url="/authentication/logout?session=invalid" />
		<!-- <access-denied-handler error-page="/index.html?logout=2" />  -->

		<!-- logout -->
		<logout logout-success-url="/authentication/logout" delete-cookies="JSESSIONID" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customAuthenticationProvider">
			<password-encoder hash="md5"/>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="customAuthenticationProvider" class="com.gffny.leaderboard.portal.web.auth.LeaderboardUserDetailService" />

</beans:beans>