<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<bean id="initializationFilter" class="com.gffny.leaderboard.portal.model.ui.filter.InitializationFilter">
    </bean>
    <bean id="authenticationFilter" class="com.gffny.leaderboard.portal.model.ui.filter.AuthenticationFilter">
    </bean>
    <bean id="unauthenticationFilter" class="com.gffny.leaderboard.portal.model.ui.filter.UnauthenticationFilter">
    </bean>
</beans>