<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	id="leaderboard-portal" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>leaderboard</display-name>

    <!-- Spring configuration file location -->
    <context-param>
        <param-name>contextConfigLocation</param-name>

        <param-value>
			/WEB-INF/spring/applicationContext-security.xml
			/WEB-INF/spring/applicationContext-filters.xml
			/WEB-INF/spring/applicationContext-services.xml
			/WEB-INF/spring/applicationContext-daos.xml
        </param-value>
    </context-param>

    <!-- Let Spring handle all requests coming to the web application through this filter. -->
	<filter>
		<filter-name>initializationFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter>
		<filter-name>unauthenticationFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
 
    <!-- All the requests to be handled by the above filter -->
   	<filter-mapping>
		<filter-name>initializationFilter</filter-name>
		<servlet-name>leaderboard-secure</servlet-name>
	</filter-mapping>
 <!--
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<servlet-name>leaderboard-secure</servlet-name>
	</filter-mapping>
 -->
    <!-- To start/stop Spring framework automatically. -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- secure servlet for leaderboard application -->
    <servlet>
        <servlet-name>leaderboard-secure</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>leaderboard-secure</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
	<!-- end secure servlet -->
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>